@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ========================================================================================== */
/* root */
/* ========================================================================================== */
:root {
    /* colors */
    --html-blue: #00F;
    --brand-yellow: #FFE400;
    --light: #FFF;
    --dark: #222;
    --grey: #888;
    --bg-pastel: #FFFECA;

    /* font-weight */
    --h1-weight: 900;
    --h2-weight: 700;
    --h3-weight: 500;
    --list-numbers-weight: 700;

    /* font size */
    --h1-size: 1.3em;
    --h2-size: 1.2em;
    --h3-size: 1.1em;
    --span-size: 0.8em
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100%;
    min-width: 100%;
    line-height: 1.5;
    background-color: var(--bg-pastel);
}

header {
    display: flex;
    flex-direction: column;
    padding: 1em;

    & .brand-logo {
        width: 10em;
        height: 10em;
        align-self: flex-end;
    }
}

section {
    width: 100%;
    margin: 2em 0;
    padding: 1em;

    & h2 {
        text-align: center;
    }
}

section:nth-child(6) {
    padding: 0;
}
/* ========================================================================================== */
/* typografie */
/* ========================================================================================== */
h1 {
    color: var(--html-blue);
    font-weight: var(--h1-weight);
    font-size: var(--h1-size);
}

h2 {
    color: var(--html-blue);
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
}

h3 {
    color: var(--html-blue);
    font-weight: var(--h3-weight);
    font-size: var(--h3-size);
}

.sub-header {
    color: var(--html-blue);
}
/* ========================================================================================== */
/* buttons */
/* ========================================================================================== */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--html-blue);
    color: var(--light);
    padding: 0.5em;
    outline: none;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
    font-size: 1em;
}

.btn:hover {
    opacity: 0.75;
}
/* ========================================================================================== */
/* section artikelen */
/* ========================================================================================== */
.article-card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;

    & img {
        display: grid;
        width: 100%;
        height: auto;
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row-start: 1;
        grid-row-end: span 6;
    }

    & h2 {
        background-color: var(--light);
        padding: 0.5em;
        text-wrap: nowrap;
        grid-column-start: 2;
        grid-column-end: span 8;
        grid-row-start: 5;
        grid-row-end: span 6;
    }

    & .content-container {
        background-color: var(--light);
        color: var(--html-blue);
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row-start: 6;
        grid-row-end: span 10;
    }
}

.reverse {
    & h2 {
        grid-column-start: 1;
        grid-column-end: span 7;
        grid-row-start: 5;
        grid-row-end: span 6;
    }
}
/* ========================================================================================== */
/* section cijfers en facts */
/* ========================================================================================== */
.facts-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    & li {
        display: inline-flex;
        background-color: var(--brand-yellow);
        color: var(--html-blue);
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 2em;
        text-align: center;
        transition: 1s ease-in;

        & span {
            font-weight: var(--list-numbers-weight);
            margin-right: 0.2em;
        }
    }

    .facts-slide {
        animation-name: FactSlide;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: forwards;
        animation-timing-function: ease-in;
    }
}
/* ========================================================================================== */
/* section interview */
/* ========================================================================================== */
.article-interview {
    display: flex;
    flex-direction: column;

    & .img-container-main {
        align-self: center;

        & .img-container {
            width: 10em;
            height: 10em;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 1em;
    
            & img {
                width: 100%;
                height: auto;
            }
        }
    }

    & .content-container {
        & p {
            color: var(--dark);
        }
    }
}
/* ========================================================================================== */
/* section timeline */
/* ========================================================================================== */
.timeline-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border-left: 0.1em solid var(--html-blue);
    padding: 1em;
    position: relative;

    & #time-bar {
        background-color: var(--brand-yellow);
        width: 0.1em;
        height: 2.75em;
        position: absolute;
        top: 0;
        left: -0.1em;
    }

    & li {
        margin-bottom: 2em;
        position: relative;

        & span {
            display: inline-block;
            color: var(--dark);
            font-size: var(--span-size);
        }

        & p {
            color: var(--dark);
            font-size: var(--span-size);
            display: none;
            transform: translateX(-50em);
            transition: 1s ease;
        }

        & .time-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            & h2 {
                text-align: left;
            }
        }

        & .title-bar {
            background-color: var(--html-blue);
            width: 100%;
            height: 0.1em;
            display: none;
        }

        & .button-timeline {
            background-color: var(--html-blue);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            position: absolute;
            top: 2.75em;
            left: -2em;
            transform: translateY(-50%);
            outline: none;
            border: none;
            color: var(--light);
            z-index: 999;
        }

        & .button-timeline::before {
            content: "";
            background-color: var(--html-blue);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            animation-name: btnPulse;
            animation-duration: 2.5s;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            z-index: -1;
        }

        & img {
            margin-top: 1em;
            width: 100%;
            height: auto;
            display: none;
            transform: translateX(-50em);
            transition: 1s ease;
        }
    }

    & li:last-child::before {
        content: "";
        position: absolute;
        bottom: -3em;
        left: -1.1em;
        width: 0.15em;
        height: 100%;
        background-image: linear-gradient(180deg, var(--html-blue), var(--bg-pastel));
    }
}
/* ========================================================================================== */
/* section collage */
/* ========================================================================================== */
.img-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;

    & li {
        width: 50%;

        & img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
/* ========================================================================================== */
/* section formulier */
/* ========================================================================================== */
.article-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);

    & .form-title {
        background-color: var(--brand-yellow);
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 1;
        grid-row-end: span 5;

        & h2 {
            margin-top: 1em;
            text-align: left;
        }
    
        & p {
            color: var(--html-blue);
        }
    }

    & form {
        background-color: var(--light);
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 3;
        grid-row-end: span 8;
        margin-right: -1em;
        margin-left: 1em;

        & label {
            display: block;
            color: var(--html-blue);
            font-size: 1em;
            margin-bottom: 1em;
        }

        & input[type=text], input[type=email], textarea {
            width: 100%;
            display: block;
            outline: none;
            border: none;
            border-bottom: 0.1em solid var(--html-blue);
            font-size: 1em;
            margin-bottom: 1em;
        }

        & textarea {
            height: 10em;
            border-bottom: 0.15em solid var(--html-blue);
            resize: none;
        }
    }
}
/* ========================================================================================== */
/* section comments */
/* ========================================================================================== */
.comment-list {
    flex-direction: column;
    justify-content: center;

    & li {
        padding: 1em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;

        & .left-comment {
            display: none;
            padding-right: 1em;
            width: 20%;

            & p {
                color: var(--dark);
            }
        }

        & .right-comment {
            border-left: 0.1em solid var(--dark);
            padding-left: 1em;
            width: 100%;

            & p {
                color: var(--html-blue);
            }

            & span {
                display: inline-block;
                color: var(--dark);
                font-size: var(--span-size);
            }
        }
    }
}
/* ========================================================================================== */
/* animations classess */
/* ========================================================================================== */
.keyframe-fade-slide {
    animation-name: fadeSlide;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.keyframe-fade-slide-img {
    animation-name: fadeSlideImg;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.keyframe-btn-pulse {
    animation-name: btnPulse;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.keyframe-bar {
    animation-name: titleBar;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
/* ========================================================================================== */
/* keyframes */
/* ========================================================================================== */
@keyframes titleBar {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes fadeSlide {
    from {
        transform: translateX(-50em);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeSlideImg {
    0% {
        transform: translateX(-50em) scaleY(0.01);
    }
    50% {
        transform: translateX(0) scaleY(0.01);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes btnPulse {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    60% {
        opacity: 0.3;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
/* ========================================================================================== */
/* mediaqueries */
/* ========================================================================================== */
@media only screen and (min-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 75%;
    }

    section:nth-child(6) {
        width: 100%;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 10em;
    }
    
    /* artikel */
    .article-card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        position: relative;
    
        & img {
            display: grid;
            width: 100%;
            height: auto;
            grid-column-start: 1;
            grid-column-end: span 4;
            grid-row-start: 2;
            grid-row-end: span 4;
        }

        & h2 {
            background-color: var(--light);
            padding: 0;
            text-wrap: nowrap;
            margin-top: 2em;
            grid-column-start: 5;
            grid-column-end: span 8;
            grid-row-start: 2;
            grid-row-end: span 2;
        }
    
        & .content-container {
            color: var(--html-blue);
            background-color: var(--light);
            padding: 1em 2em;
            grid-column-start: 5;
            grid-column-end: span 8;
            grid-row-start: 3;
            grid-row-end: span 4;
        }
    }

    & .article-card::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--light);
        width: 75%;
        height: 100%;
        z-index: -1;
    }

    & .reverse {
        & img {
            grid-column-start: 5;
            grid-column-end: span ;
            grid-row-start: 2;
            grid-row-end: span 4;
        }

        & h2 {
            grid-column-start: 1;
            grid-column-end: span 4;
            grid-row-start: 2;
            grid-row-end: span 2;
        }

        & .content-container {
            grid-column-start: 1;
            grid-column-end: span 4;
            grid-row-start: 3;
            grid-row-end: span 4;
        }
    }

    & .reverse::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--light);
        width: 75%;
        height: 100%;
        z-index: -1;
    }

    /* artikel interview */
    .article-interview {
        flex-direction: row;

        & .img-container-main {
            margin-right: 1em;
        }

        & .content-container {
            width: 80%;
        }
    }

    /* cijfers & facts lijst */
    .facts-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        & li {
            margin-right: 1em;
        }
    }

    /* tijdlijn */
    .timeline-list {
        border: none;

        & #time-bar {
            position: absolute;
            top: 0;
            left: 50%;
            width: 0.1em;
            height: 2.75em;
            background-color: var(--brand-yellow);
        }

        & li {
            width: 50%;
        }

        & li:nth-child(even) {
            padding-right: 1em;
            position: relative;

            & .time-title {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            & span {
                display: block;
                text-align: right;
            }

            & p {
                text-align: right;
            }

            & .button-timeline {
                position: absolute;
                top: 2.75em;
                left: auto;
                right: -0.8em;
                transform: translateY(-50%);
            }
        }

        & li:nth-child(odd) {
            align-self: flex-end;
            padding-left: 1em;
            position: relative;

            & .button-timeline {
                position: absolute;
                top: 2.75em;
                left: -0.6em;
                transform: translateY(-50%);
            }
        }

        & li:last-child::before {
            content: "";
            position: absolute;
            bottom: -3em;
            left: 100%;
            width: 0.15em;
            height: 100%;
            background-image: linear-gradient(180deg, var(--html-blue), var(--bg-pastel));
        }
    }

    & .timeline-list::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0.1em;
        height: 100%;
        background-color: var(--html-blue);
    }

    /* afbeelding collage */
    .img-list {
        & li {
            width: 25%;
        }
    }

    /* formulier */
    .article-form {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
    
        & .form-title {
            grid-column-start: 1;
            grid-column-end: span 10;
            grid-row-start: 1;
            grid-row-end: span 8;

            & h2 {
                font-size: 2.5em;
                width: 25%;
            }

            & p {
                width: 25%;
            }
        }
    
        & form {
            grid-column-start: 4;
            grid-column-end: span 6;
            grid-row-start: 1;
            grid-row-end: span 8;
            margin: 0;
            position: relative;

            & .form-desktop {
                display: flex;
                flex-direction: row;
                width: 100%;

                & div {
                    width: 50%;
                    margin-right: 1em;
                }
            }
        }

        & form::before {
            content: "";
            background-color: var(--light);
            width: 100%;
            height: 110%;
            position: absolute;
            top: -1em;
            left: 0;
            z-index: -1;
        }
    }

    /* section comments */
    .comment-list {
        & li {
            & .left-comment {
                display: block;
            }

            & .right-comment {
                width: 50%;
            }
        }
    }
}